configuration {
    modi: "drun,run";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    font: "Nunito 15";
    display-drun: " ♡ ";
    display-run: " $ ";
    drun-display-format: "{name}";
    terminal: "kitty";
}
@theme "pinky"
